body{
    background-color:coral;

}
#c2{
    background-color: white;
    padding:40px;
    align-items: center;
    width:100vh;
    margin-left:20%;


}
label {
    color:black;
    font-size:20px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    margin:10px;
}
textarea{
    margin:10px;
}

