*{
  margin:auto;
}
body{
    background-color:rgb(202, 197, 198);
}
.main{
   margin-left:10cm;
   margin-right:10cm;
   margin-top:2cm;
   margin-bottom:0.1cm;
    border:0.5px solid white;
    padding:2.5%;
    border-radius: 20px 20px 20px 20px;
    box-shadow:5px 5px 5px rgb(194, 187, 187),-5px -5px 5px rgb(194, 187, 187);
    /* animation-name: move_around;
    transition-duration: 100s;
    animation-duration:5s; */
    animation:5s forwards move_around infinite;
}
#main1{
    background-color:rgb(243, 188, 168);
}
.main,#main2{
    background-color:rgb(40, 151, 195);
}
#main1,#main2{
    border:0.5px solid white;
    padding:5%;
    border-radius: 20px 20px 20px 20px;
    box-shadow:5px 5px 5px rgb(194, 187, 187),-5px -5px 5px rgb(194, 187, 187);
    animation:6s forwards move_around infinite; /*provides animation*/
}
#main2{
    animation:7s forwards move_around infinite;
}
h1{
    color:white;
    font-size: 50px;
    margin-left:30%;

}
form{
    background-color: white;
    font-size: 20px;
    padding:40px;
    border-radius:20px;
    background-position:unset;
}
label{
    padding:15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:1cm;
    cursor:pointer;
}
#fname,#lname,#dob,#email,#mobile,#username,#password{
    padding:10px;
    border:none;
    border-bottom:2px solid grey;
    margin-left:0.1cm;
}
#submit{
    padding:10px;
    color:white;
    background-color: coral;
    border:none;
    margin-left:3cm;
    margin-top:1cm;
    font-size:20px ;
    border-radius:10px;
    
}
#reset{
    padding:10px;
    border:none;
    font-size:20px ;
    border-radius:10px;
    color:white;
    background-color:red;
    margin-left:1cm;
}
#submit:hover,#reset:hover{
    box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
    cursor:pointer;
}
@keyframes move_around{
    0%{
        box-shadow:5px 5px 5px red,-5px -5px 5px red; 
    }
    25%{
        box-shadow:5px 5px 5px yellow,-5px -5px 5px yellow;

    }
    50%{
        box-shadow:5px 5px 5px greenyellow,-5px -5px 5px greenyellow;
    }
    75%{
        box-shadow:5px 5px 5px blue,-5px -5px 5px blue;
    }
    100%{
        box-shadow:5px 5px 5px red,-5px -5px 5px red;
    }
}
#back button{
    padding:10px;
    color:white;
    background-color: coral;
    border:none;
    margin-left:17cm;
    margin-bottom:1cm;
    font-size:20px ;
    border-radius:10px;
   
}
#signin button{
    padding:10px;
    color:white;
    background-color: coral;
    border:none;
    margin-left:1cm;
    margin-top:1cm;
    font-size:20px ;
    border-radius:10px;
    
}
#back button:hover,#signin button:hover{
    box-shadow: 1px 1px 5px white, -1px -1px 5px white;
    cursor:pointer;
}